 
.comn_img_block {
    overflow: hidden;
    position: relative;
}
.comn_img_block img {
    position: absolute;
    left: 0;
    top: 0;
    -o-object-position: center;
    object-position: center;
    -o-object-fit: cover;
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.swiper_normal .swiper-container {
    overflow: hidden;
    position: relative;
}
.swiper_btn .swiper-button-next,
.swiper_btn .swiper-button-prev {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #fff;
    text-align: center;
    line-height: 50px;
    color: #08913f;
    font-size: 27px;
    -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.35);
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.35);
    -webkit-transition: all 0.5s ease-out 0s;
    transition: all 0.5s ease-out 0s;
}
.swiper_btn .swiper-button-next:after,
.swiper_btn .swiper-button-prev:after {
    display: none;
}
.swiper_btn .swiper-button-next:hover,
.swiper_btn .swiper-button-prev:hover {
    background: #fff;
    color: #223d80;
}
.swiper_btn .swiper-button-next:hover svg,
.swiper_btn .swiper-button-prev:hover svg {
    stroke: #223d80;
}
.swiper_btn .swiper-button-next i,
.swiper_btn .swiper-button-prev i {
    display: block;
}
.swiper_btn .swiper-button-next svg,
.swiper_btn .swiper-button-prev svg {
    width: 32px;
    height: 32px;
    -webkit-transition: all 0.5s ease-out 0s;
    transition: all 0.5s ease-out 0s;
}
.swiper_scrollbar .swiper-scrollbar-drag {
    background: #08913f;
}
.swiper_scrollbar .swiper-horizontal > .swiper-scrollbar,
.swiper_scrollbar .swiper-scrollbar.swiper-scrollbar-horizontal {
    height: 3px;
    width: 100%;
    position: static;
    margin: 40px 0 0;
}
.swiper_pagination .swiper-pagination {
    position: relative;
    top: auto;
    bottom: auto;
    margin: 20px 0 0;
}
.swiper_pagination .swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper_pagination .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 6px;
}
.swiper_pagination .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    background: #08913f;
}
.swiper_pagination .swiper-pagination-bullet:not(.swiper-pagination-bullet-active) {
    opacity: 0.5;
}
.banner_sec {
    background: #223d80;
}
.banner_sec .bgcustom {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.banner_sec .swiper-inner {
    z-index: 1;
}
.banner_sec .swiper-inner:before {
    content: "";
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    background: #000;
    z-index: -1;
    opacity: 0.1;
}
.banner_sec .swiper-inner:after {
    content: "";
    left: 0;
    bottom: 0;
    width: 100%;
    height: 75%;
    position: absolute;
    background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(0, 0, 0, 0.6)));
    background-image: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.6) 100%);
    z-index: -1;
}
.banner_sec .sw-text-wrapper .slider-title {
    color: #fff;
    font-size: 50px;
    font-weight: 400;
    line-height: 1.3;
    margin: 0;
    position: relative;
    top: 0;
}
.banner_sec .swiper-horizontal > .swiper-pagination-bullets,
.banner_sec .swiper-pagination-bullets.swiper-pagination-horizontal,
.banner_sec .swiper-pagination-custom,
.banner_sec .swiper-pagination-fraction {
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    padding: 0 1.5rem;
    bottom: 20px;
}
.banner_sec .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    background: rgba(255, 255, 255, 0.3);
    border: 1px solid #fff;
    opacity: 1;
}
.banner_sec .swiper-pagination-bullet-active {
    background: #fff;
}
.banner_sec .swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.banner_sec .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 20px 0 0;
}
.banner_sec .swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet:last-child,
.banner_sec .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet:last-child {
    margin-right: 0;
}
.v-center {
    min-height: 477px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.banner_sec .sw-caption {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    top: auto;
    bottom: 90px;
}
@media (min-width: 992px) {
    .banner_sec .swiper-horizontal > .swiper-pagination-bullets,
    .banner_sec .swiper-pagination-bullets.swiper-pagination-horizontal,
    .banner_sec .swiper-pagination-custom,
    .banner_sec .swiper-pagination-fraction {
        width: 100%;
        max-width: 95%;
    }
}
@media (min-width: 1250px) {
    .banner_sec .swiper-horizontal > .swiper-pagination-bullets,
    .banner_sec .swiper-pagination-bullets.swiper-pagination-horizontal,
    .banner_sec .swiper-pagination-custom,
    .banner_sec .swiper-pagination-fraction {
        width: 1220px;
        max-width: 100%;
    }
}
@media (min-width: 1400px) {
    .banner_sec .swiper-horizontal > .swiper-pagination-bullets,
    .banner_sec .swiper-pagination-bullets.swiper-pagination-horizontal,
    .banner_sec .swiper-pagination-custom,
    .banner_sec .swiper-pagination-fraction {
        width: 1320px;
        max-width: 100%;
    }
}
@media (max-width: 991px) {
    .banner_sec .swiper-horizontal > .swiper-pagination-bullets,
    .banner_sec .swiper-pagination-bullets.swiper-pagination-horizontal,
    .banner_sec .swiper-pagination-custom,
    .banner_sec .swiper-pagination-fraction {
        text-align: center;
    }
    .banner_sec .swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet:first-child,
    .banner_sec .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet:first-child {
        margin-left: 0;
    }
    .banner_sec .sw-caption {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        top: auto;
        bottom: 90px;
        text-align: center;
    }
    .v-center {
        min-height: 465px;
    }
}
@media (max-width: 767px) {
    .banner_sec .sw-text-wrapper .slider-title {
        font-size: 40px;
    }
    .banner_sec .sw-text-wrapper .slider-title br {
        display: none;
    }
}
@media (max-width: 575px) {
    .banner_sec .sw-text-wrapper .slider-title {
        font-size: 30px;
    }
    .v-center {
        min-height: 340px;
    }
}
 
.tes_gall_sec {
    background: #e5f5e0;
    padding: 90px 0 100px;
}
.tes_gall_sec .title_row {
    margin-bottom: 50px;
}
.tes_gall_sec .title_row .site_title {
    font-size: 33px;
}
.tes_gall_sec .tes_slider_sec .swiper-button-next,
.tes_gall_sec .tes_slider_sec .swiper-button-prev {
    position: static;
    -webkit-transform: translate(0);
    transform: translate(0);
    margin: 0;
}
.tes_gall_sec .tes_slider_sec .swiper-button-next:hover,
.tes_gall_sec .tes_slider_sec .swiper-button-prev:hover {
    background: #08913f;
}
.tes_gall_sec .tes_slider_sec .swiper-button-next:hover svg,
.tes_gall_sec .tes_slider_sec .swiper-button-prev:hover svg {
    stroke: #fff;
}
.tes_gall_sec .tes_slider_sec .swiper_pagination .swiper-pagination {
    text-align: left;
    margin-top: 30px;
}
.tes_gall_sec .tes_slider_sec .tes_item .tes_author {
    margin-bottom: 20px;
}
.tes_gall_sec .tes_slider_sec .tes_item .tes_author img {
    border-radius: 50%;
}
.tes_gall_sec .tes_slider_sec .tes_item h5 {
    font-size: 18px;
    font-weight: 500;
    color: #08913f;
    font-family: "Inter", serif;
}
.tes_gall_sec .tes_slider_sec .swiper_btn > div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 15px;
    padding: 20px 0 15px;
}
.tes_gall_sec .gall_slider_sec .title_row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 25px;
}
.tes_gall_sec .gall_slider_sec .title_row .site_title {
    margin: 0;
}
.tes_gall_sec .gall_slider_sec .title_row .btn_link {
    font-size: 14px;
}
.tes_gall_sec .gall_slider_sec .gallery_item {
    display: block;
    position: relative;
    overflow: hidden;
}
.tes_gall_sec .gall_slider_sec .gallery_item .overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, transparent), color-stop(70%, rgba(4, 85, 60, 0.75)));
    background-image: linear-gradient(180deg, transparent 0 30%, rgba(4, 85, 60, 0.75) 70% 100%);
    padding: 25px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
}
.tes_gall_sec .gall_slider_sec .gallery_item .overlay h5 {
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.tes_gall_sec .gall_slider_sec .gallery_item .comn_img_block {
    height: 350px;
    border-radius: 0;
}
.tes_gall_sec .gall_slider_sec .swiper_wrap {
    position: relative;
}
.tes_gall_sec .gall_slider_sec .swiper-button-next.swiper-button-disabled,
.tes_gall_sec .gall_slider_sec .swiper-button-prev.swiper-button-disabled {
    opacity: 0;
}
@media (min-width: 992px) {
    .tes_gall_sec .tes_slider_sec .swiper-pagination-clickable .swiper-pagination-bullet:first-child {
        margin-left: 0;
    }
}
@media (max-width: 991px) {
    .tes_gall_sec .tes_slider_sec .swiper_btn > div {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
    .tes_gall_sec .tes_slider_sec {
        padding: 0 0 70px;
        text-align: center;
    }
    .tes_gall_sec .tes_slider_sec .swiper_pagination .swiper-pagination {
        text-align: center;
    }
    .tes_gall_sec .gall_slider_sec .title_row .btn_link {
        display: none;
    }
    .tes_gall_sec .gall_slider_sec .title_row {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        text-align: center;
        margin-bottom: 30px;
    }
}
@media (max-width: 575px) {
    .tes_gall_sec .gall_slider_sec .gallery_item .comn_img_block {
        height: 320px;
    }
    .tes_gall_sec .gall_slider_sec .gallery_item .overlay h5 {
        font-size: 22px;
    }
    .tes_gall_sec {
        padding: 50px 0;
    }
    .tes_gall_sec .tes_slider_sec {
        padding: 0 0 50px;
    }
}


.video_testimonals_area {
    padding: 80px 0 100px;
    background: #04553c;
}
.video_testimonals_area .title_row {
    margin-bottom: 40px;
}
.video_testimonals_area .title_row .site_title {
    color: #fff;
}
.video_testimonals_area .slick_wrap {
    padding: 0 30px;
}
.video_testimonals_area .slick_wrap .next,
.video_testimonals_area .slick_wrap .prev {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 20;
    background: transparent;
    color: #fff;
}
.video_testimonals_area .slick_wrap .next {
    right: 0;
}
.video_testimonals_area .slick_wrap .prev {
    left: 0;
}
.slick_wrap {
    position: relative;
}
.slick_wrap .slick-slide {
    padding: 0 15px;
}
.slick_wrap .slick-list {
    margin: 0 -15px;
}
.slick_wrap .next,
.slick_wrap .prev {
    width: 44px;
    height: 44px;
    text-align: center;
    background: #08913f;
    color: #000;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: none;
    line-height: 1px;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.slick_wrap .next svg,
.slick_wrap .prev svg {
    width: 40px;
    height: 40px;
}
.slick_wrap .slick-arrow.slick-disabled {
    opacity: 0;
    visibility: hidden;
}
.slick_wrap .slick-dots li button:before {
    color: #223d80;
    font-size: 12px;
}
.slick_wrap .slick-dots {
    bottom: -35px;
}
.video_tes_slide_box {
    overflow: hidden;
    position: relative;
    background: #fff;
    padding: 30px 25px 0;
    text-align: center;
    border-radius: 20px;
}
.video_tes_slide_box:hover .vtes_video_icon {
    background: #223d80;
    color: #fff;
}
.video_tes_slide_box .comn_img_block {
    padding-bottom: calc((150 / 200) * 100%);
    border: 1px solid #fff;
    border-radius: 15px;
}
.video_tes_slide_box .v_tes_title {
    padding: 30px 0;
}
.video_tes_slide_box .v_tes_title h6 {
    color: #333;
    line-height: 1.2;
    font-size: 18px;
    font-weight: 600;
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.video_tes_slide_box .v_tes_title label {
    color: #e3cfd1;
    margin: 0;
    font-size: 16px;
    line-height: 1.6;
}
.video_tes_slide_box .vtes_video_icon {
    width: 44px;
    height: 44px;
    text-align: center;
    background: #08913f;
    border-radius: 50%;
    line-height: 44px;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 16px;
    color: #fff;
    z-index: 1;
    -webkit-transition: all 0.5s ease-out 0s;
    transition: all 0.5s ease-out 0s;
}
.video_tes_slide_box .vtes_video_icon i {
    position: relative;
    left: 1px;
}
.video_tes_slide_box .v_tes_image_block {
    position: relative;
}
.video_tes_slide_box .v_tes_image_block .star_count {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 3px;
    font-size: 12px;
    background: #fff;
    border-radius: 4px;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    bottom: -9px;
    padding: 5px 10px;
    color: #ffab00;
}
.video_tes_slide_box .vtes_video_link {
    position: absolute;
    left: 0;
    top: 0;
    font-size: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
}
@media (min-width: 992px) {
    .center-slider .slick-slide,
    .center-slider .slick-slide[aria-hidden="true"]:not(.slick-cloned) ~ .slick-cloned[aria-hidden="true"] {
        -webkit-transform: scale(0.9, 0.9);
        transform: scale(0.9, 0.9);
        -webkit-transition: all 0.4s ease-in-out;
        transition: all 0.4s ease-in-out;
    }
    .center-slider .slick-center,
    .center-slider .slick-slide[aria-hidden="true"]:not([tabindex="-1"]) + .slick-cloned[aria-hidden="true"] {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
    .center-slider .slick-current.slick-active {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
    .center-slider .slick-list {
        padding-top: 30px !important;
        padding-bottom: 30px !important;
    }
}
@media (max-width: 991px) {
    .video_testimonals_area .slick_wrap {
        padding: 0 60px;
    }
}
@media (max-width: 575px) {
    .video_tes_slide_box {
        padding: 20px 20px 0;
    }
    .video_testimonals_area {
        padding: 50px 0 60px;
    }
}
